
* {
    box-sizing: border-box;
}
body {
    font-family: Arial;
    margin: 0;
    background-color: #f9ecf2;
    background-image: url("alb.jpg");
    background-repeat: repeat;
    background-size: 100% ;
    /*font-size: 3em;*/

}

/* Style header */
.header {
    padding: 0.5%;
    text-align: center;
    background: #adebeb;
    color: #333;
    font-family: verdana;
}
.header img
{
    width:8%;
    height:8%;
    display:inline;
    margin:0 auto;
    

}
.header h1 {
    font-size: 2em;
}

.header h2 {
    font-size: 1em;

}

/* Style navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333333;
}

/* Style the navigation bar links */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
    float: right;
}

/* style contact*/

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}



.container {
    border-radius: 1%;
    background-color: #f2f2f2;
    padding: 2%;  
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 5%;
}

.ex1 {

    font-family: arial;
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
    font-size: 180%;
}

/*style proiect*/
.acasa {
  margin-left:23%;
  margin-right:23%;
  margin-top:15%;
  background-image: url(fundal.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:100% 117%;

}
.bunvenit{
  font-weight: bold;
  font-style:italic;
  font-size: 2vw;
  color:#adebeb;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}


/*style reteta*/
.row {
  display: flex;
  padding: 0 50px;
  float:right;
}


/* creez 3 coloane pe aceeasi linie */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 1%;
  margin-right: auto;
  display:inline;
  margin-left:1%;
  margin-top:1%;
  float:left;
}

.column img {
  margin-top: 2%;
  width:100%;
}

.filtrare {
    background-color: #e6ffff;
    width: 160px;
    padding: 20px;
    margin: 25px;
    color: black;

}

/*style desprenoi*/
.despre{
  
  margin: 2%;
  font-size: 180%;
}

.main {
  width: 90%;
  float: right;
}

.sidebar {
  width: 10%;
  float: left;
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column,.ingrediente,.reteta {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column,.ingrediente,.reteta,.header{
    flex: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width:800px) {
  .header{
    width:100%; 
  }
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .header, .main, .ingrediente,.reteta {
    width:100%;
  }
}


/*style ingrediente*/

.reteta {
  float: right;
  margin-left: 80px;
  margin-right: 150px;
  margin-top: 50px;
  margin-bottom: 100px;
  font-size: small;
  font-family: arial;
  text-align: left;
}

.image {
  
  float:left;
    margin-left: 80px;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 100px;
}


footer {
    background-color:#212121;
    bottom:0;
    box-shadow: 0 -1px 2px #111111;
    -moz-box-shadow: 0 -1px 2px #111111;
    -webkit-box-shadow: 0 -1px 2px #111111;
    display:block;
    height:70px;
    left:0;
    position:fixed;
    width:100%;
    z-index:100;
}
footer h2{
    font-size:22px;
    font-weight:normal;
    left:50%;
    margin-left:-400px;
    padding:22px 0;
    position:absolute;
    width:540px;
}
footer a.stuts,a.stuts:visited{
    border:none;
    text-decoration:none;
    color:#fcfcfc;
    font-size:14px;
    left:50%;
    line-height:31px;
    margin:23px 0 0 110px;
    position:absolute;
    top:0;
}
footer .stuts span {
    font-size:22px;
    font-weight:bold;
    margin-left:5px;
}
.container_galerie{
    background:#ddd;
    margin:20px auto;
    padding:20px;
    position:relative;
    width:700px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    box-shadow:1px 1px 5px #111;
    -moz-box-shadow:1px 1px 5px #111;
    -webkit-box-shadow:1px 1px 5px #111;
}
/* css3 photo gallery styles */
.gallery {
    width:610px;
    margin:0 auto;
}
.gallery a {
    display:inline-block;
    height:150px;
    position:relative;
    width:200px;
}
.gallery a img {
    border:5px solid #fff;
    cursor:pointer;
    display:block;
    height:100%;
    left:0px;
    position:absolute;
    top:0px;
    width:100%;
    z-index:1;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-transition-property:width, height, top, bottom, left, right, z-index, border;
    -webkit-transition-duration:0.5s;
    -moz-transition-property:width, height, top, bottom, left, right, z-index, border;
    -moz-transition-duration:0.5s;
    -o-transition-property:width, height, top, bottom, left, right, z-index, border;
    -o-transition-duration:0.5s;
    transition-property:width, height, top, bottom, left, right, z-index, border;
    transition-duration:0.5s;
}
.gallery a:focus img {
    border:15px solid #fff;
    cursor:default;
    height:250%;
    position:absolute;
    width:250%;
    z-index:25;
    box-shadow:1px 1px 5px #888;
    -moz-box-shadow:1px 1px 5px #888;
    -webkit-box-shadow:1px 1px 5px #888;
    -webkit-transition-property:width, height, top, bottom, left, right, z-index, border;
    -webkit-transition-duration:0.5s;
    -moz-transition-property:width, height, top, bottom, left, right, z-index, border;
    -moz-transition-duration:0.5s;
    -o-transition-property:width, height, top, bottom, left, right, z-index, border;
    -o-transition-duration:0.5s;
    transition-property:width, height, top, bottom, left, right, z-index, border;
    transition-duration:0.5s;
}
/* custom focus rules */
.gallery a:focus:nth-child(3n+1) img {
left:150px;
}
.gallery a:focus:nth-child(3n+2) img {
    left:-50px;
}
.gallery a:focus:nth-child(3n+3) img {
    left:-250px;
}
.gallery a:focus:nth-child(-n+3) img {
    top:140px;
}
.gallery a:focus:nth-child(n+7) img {
    top:-150px;
}
.gallery a:focus:nth-child(n+10) img {
    top:-295px;
}
/* extra close layer */
.gallery .close {
    background:transparent;
    cursor:pointer;
    display:none;
    height:352px;
    left:170px;
    position:absolute;
    top:160px;
    width:500px;
    z-index:30;
}
.gallery a:focus ~ .close {
    display:block;
}

/*style resurse*/
.resurse{
  margin: 4%;
  font-size: x-large;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    text-decoration:none;
}

button:hover {
    opacity: 0.8;
    text-decoration: none;
}


.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 10%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

a:link, a:visited
{
  text-decoration:none;
  color: white;
}

.ada {
  color:black;
}


/*Pentru quizz*/

.question {
  text-align: center;
  font-size: 2em;
}

.questionNumber {
  text-align: center;
  padding: 2em;
  font-size: 1.5em;
}

.answers {
  font-size: 1em;
}

.answers label {
  vertical-align: middle;
  font-size: 1.2em;
}

.answers input {
  margin-left: 46em;
  vertical-align: middle;
  width: 1.2em;
  height: 1.2em;
}

.button1 {
  text-align: center;
}

.answers button {
  width: 5%;
  padding: .5em;
  margin: 2.5em;
}

.score {
  text-align: center;
}



</style>
</head>
